.bg-white {
	background-color: #FFF;
}
.bg-pale-gray {
	background-color: $color-gray-200;
}
.bg-light {
	background-color: rgba(255,255,255,.5);
	// background-image : linear-gradient( #E7E7E7, #CCC );
	// background-image: radial-gradient( #FFF, #CCC );
	// background: url(http://dummyimage.com/100x100/CCC/fff.png&text=背景画像) #99f; // repeat-y fixed
}
.bg-dark {
	background-color: rgba(0,0,0,.5);
}


/**
 * 背景画像透
 *     背景クラスが付いたタグの直下にdivタグを設置し指定
 */
[class^="bg-translucent"] {
	height: 100%;
}
.bg-translucent-white {
	background: rgba(255,255,255,.5);
}
.bg-translucent-black {
	background: rgba(0,0,0,.5);
}
