*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	line-height: 1.7;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Meiryo, "Yu Gothic", sans-serif; // 游ゴシックを使いたければ「頭に」 YuGothic を追加;
	// font-weight: 500;//Windowsで游ゴシック体のウェイトを Medium にするために必要
	// font-feature-settings: "palt";
	// letter-spacing: .1em;
	// font-variant-numeric: slashed-zero tabular-nums;
	color: $color_font;
	-webkit-font-smoothing: antialiased; // Safari(Mac,iOS)で文字を細めに。ボタンは文字が見にくくなるので戻している
	-moz-osx-font-smoothing: grayscale; // Firefoxで文字にアンチエイリアス。ボタンは文字が見えにくく鳴るので戻している
}

body {
	margin: 0;
}


/**
 * Adjustment
 */

// 子要素を持つ可能性がブロック要素から、子要素がはみ出ないように
div,section,aside,header,footer,main,article,nav,
hgroup,h1,h2,h3,h4,h5,h6,
p,blockquote,ul,ol,li,dl,dt,dd,
figure,figcaption,video,
table,tbody,thead,tfoot,
form,fieldset,address,pre {
	// overflow-y: hidden;
	padding-top: .02px;
	padding-bottom: .02px;
}

// 長い半角文字列を改行させる
p,h1,h2,h3,h4,h5,h6,
th,td,dt,dd,label {
	word-wrap: break-word;
	word-break: break-all;
}

figure {
	margin-right: 0;
	margin-left: 0;
}

// 長いのをはみ出させない
pre {
	overflow-x: auto;
	line-height:.7rem;
}

hr {
	border-width: 0 0 1px 0;
}

/**
 * Color
 */
// text
.color-font            { color: $color-font; }
.color-font-light      { color: $color-font-light; }
.color-primary         { color: $color-primary; }
.color-primary-light   { color: $color-primary-light; }
.color-primary-dark    { color: $color-primary-dark; }
.color-secondary       { color: $color-secondary; }
.color-secondary-light { color: $color-secondary-light; }
.color-secondary-dark  { color: $color-secondary-dark; }
.color-accent          { color: $color-accent; }
.color-info            { color: $color-info; }
.color-link            { color: $color-link; }
.color-link-hover      { color: $color-link-hover; }
.color-link-visited    { color: $color-link-visited; }
.color-warning, .warning,
.color-red             { color: $color-red; }
.color-yellow          { color: $color-yellow; }
.color-gray-100        { color: $color-gray-100; }
.color-gray-200        { color: $color-gray-200; }
.color-gray-300        { color: $color-gray-300; }
.color-gray-400        { color: $color-gray-400; }
.color-gray,
.color-gray-500        { color: $color-gray-500; }
.color-gray-600        { color: $color-gray-600; }
.color-gray-700        { color: $color-gray-700; }
.color-gray-800        { color: $color-gray-800; }
.color-gray-900        { color: $color-gray-900; }

.separator             { color: $color-gray-400; } // 区切り文字

// background-color
.bgc-font              { background-color: $color-font; }
.bgc-font-light        { background-color: $color-font-light; }
.bgc-primary           { background-color: $color-primary; }
.bgc-primary-light     { background-color: $color-primary-light; }
.bgc-primary-dark      { background-color: $color-primary-dark; }
.bgc-secondary         { background-color: $color-secondary; }
.bgc-secondary-light   { background-color: $color-secondary-light; }
.bgc-secondary-dark    { background-color: $color-secondary-dark; }
.bgc-accent            { background-color: $color-accent; }
.bgc-info              { background-color: $color-info; }
.bgc-link              { background-color: $color-link; }
.bgc-link-hover        { background-color: $color-link-hover; }
.bgc-link-visited      { background-color: $color-link-visited; }
.bgc-red               { background-color: $color-red; }
.bgc-yellow            { background-color: $color-yellow; }
.bgc-gray-100          { background-color: $color-gray-100; }
.bgc-gray-200          { background-color: $color-gray-200; }
.bgc-gray-300          { background-color: $color-gray-300; }
.bgc-gray-400          { background-color: $color-gray-400; }
.bgc-gray              { background-color: $color-gray-500; }
.bgc-gray-500          { background-color: $color-gray-500; }
.bgc-gray-600          { background-color: $color-gray-600; }
.bgc-gray-700          { background-color: $color-gray-700; }
.bgc-gray-800          { background-color: $color-gray-800; }
.bgc-gray-900          { background-color: $color-gray-900; }

/**
 * Typography
 */

// Size Set (You can use these font size variables directry.)
.font-xx-large { font-size: $font-xx-large; }
.font-x-large  { font-size: $font-x-large;  }
.font-larger   { font-size: larger;         } // 相対的
.font-large    { font-size: $font-large;    }
.font-small    { font-size: $font-small;    }
.font-smaller  { font-size: smaller;        } // 相対的
.font-x-small  { font-size: $font-x-small;  }


.display-1 {
	font-size: 3rem;
}
.display-2 {
	font-size: 2rem;
}

.bold {
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.4;
	small {
		display: block;
		font-weight: normal;
		font-size: $font-small;
	}
	small.inline {
		display: inline;
	}
}

a {
	color: $color-link;
	&:hover {
		color: $color-link-hover;
	}
	&:visited {
		color: $color-link-visited;
	}
}

textarea {
	max-width: 100%;
}

small {
	display: inline-block;
	line-height: 1.5em;
}



// アクセシビリティ用 (スクリーンリーダー用)
.screen-reader-text {} // -> _wp-essential.scss



/**
 * FontAwesome (font-awesome)
 *   @link http://weboook.blog22.fc2.com/blog-entry-399.html
 */
.fa-facebook, .fa-facebook-square  { color: #3B5998; }
.fa-instagram { color: #262626; }
.fa-twitter   { color: #1DA1F2; }
.fa-line      { color: #00C300; }
.fa-youtube   { color: #CD201F; }

[class*="fa-"]:hover {
	filter: brightness(120%);
}



/**
 *
 * Utility Classes
 *
 */

.inline-block {
	display: inline-block;
}

// Device
//     Usage: 1. add class to element directory
//            2. add `@include mobile-small-text;` in css block
@mixin mobile-only {
	@media($sm_) {
		display: none;
	}
}
	.mobile-only {
		@include mobile-only;
	}

@mixin mobile-small-text {
	@media($_sm) {
		font-size: smaller;
	}
}
	.mobile-small-text {
		@include mobile-small-text;
	}
	// -> .img--mobile-small in _object.scss

@mixin mobile-full-width {
	@media($_sm) {
		width: 100%;
	}
}
	.mobile-full-width {
		@include mobile-full-width;
	}

@mixin mobile-no-break {
	@media($_sm) {
		display: inline-block;
	}
}
	.mobile-no-break {
		@include mobile-no-break;
	}


@media($_sm) {
	.mobile-br { // apply to only wbr element `<wbr class="mobile-br">`
		display: block;
	}

	// align: same settings as _wp-essential.scss
	.mobile-aligncenter {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
		img.mobile-aligncenter {
			display: block;
		}
	.mobile-alignleft {
		margin-right: .75em;
		text-align: left;
	}
		img.mobile-alignleft {
			float: left;
		}
}



// margin adjustment
.mt-0 { margin-top:      0 !important; }
.mt-1 { margin-top: .25rem !important; }
.mt-2 { margin-top:  .5rem !important; }
.mt-3 { margin-top:   1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top:   2rem !important; }
.mt-6 { margin-top:   3rem !important; }

.mb-0 { margin-bottom:      0 !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom:  .5rem !important; }
.mb-3 { margin-bottom:   1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom:   2rem !important; }
.mb-6 { margin-bottom:   3rem !important; }
.mb-0+*,.mb-1+*,.mb-2+*,.mb-3+*,
.mb-4+*,.mb-5+*,.mb-6+*,.mb-7+* {
	margin-top: 0 !important;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-1 {
	margin-top: .25rem !important;
	margin-bottom: .25rem !important;
}
.my-2 {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
}
.my-3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.my-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}
.my-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
.my-6 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}



// margin adjustment
.pt-0 { padding-top:      0 !important; }
.pt-1 { padding-top: .25rem !important; }
.pt-2 { padding-top:  .5rem !important; }
.pt-3 { padding-top:   1rem !important; }
.pt-4 { padding-top: 1.5rem !important; }
.pt-5 { padding-top:   2rem !important; }
.pt-6 { padding-top:   3rem !important; }

.pb-0 { padding-bottom:      0 !important; }
.pb-1 { padding-bottom: .25rem !important; }
.pb-2 { padding-bottom:  .5rem !important; }
.pb-3 { padding-bottom:   1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom:   2rem !important; }
.pb-6 { padding-bottom:   3rem !important; }
.pb-0+*,.pb-1+*,.pb-2+*,.pb-3+*,
.pb-4+*,.pb-5+*,.pb-6+*,.pb-7+* {
	padding-top: 0 !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-1 {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}
.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.py-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.py-6 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}


// 下線
.border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.1);
}


// 全幅 (幅100%)
.full-width {
	width: 100%;
}
// -> `.mobile-full-width` for apply only small monitor


// 囲み記事
.box,
.box--white {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: .5rem;
	>*:first-child {
		margin-top: 0;
	}
	>*:last-child {
		margin-bottom: 0;
	}
	@media($sm_){
		padding: 1rem;
	}
}
.box {
	border: 1px solid $color-gray-400;
}
.box--white {
	background-color: #FFF;
}



// 角丸
.rounded-images img,
.rounded-images--5 img,
.rounded,
.rounded--5 {
	border-radius: 5px;
}
.rounded-images--3 img,
.rounded--3 {
	border-radius: 3px;
}
.rounded-images--7 img,
.rounded--7 {
	border-radius: 7px;
}
.rounded-images--10 img,
.rounded--10 {
	border-radius: 10px;
}

// 円
.circle--images img,
.circle {
	border-radius: 9999px;
}

// Box Shadow
@mixin box-shadow {
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
	.box-shadow-images img,
	.box-shadow {
		@include box-shadow;
	}

// Blur
.blur {
	filter: blur(7px);
}
