/**
 * 2 Column Layout
 */
.single,
.archive,
.blog,
.page-template-page-two-column {
	.site-content { // &.container
		margin-top: 0;
		@media($md_){
			display: grid;
			grid-template-areas: "primary secondary";
			grid-template-columns: 1fr 15rem;
			column-gap: 3%;
		}
	}
		#primary {
			@media($md_){
				grid-area: primary;
				margin-top: 0;
			}
		}
			main {
				@media($md_){
					padding: 2rem;
				}
			}
		#secondary {
			grid-area: secondary;
			// -> _sidebar.php
		}
}


main section {
	// padding-bottom: 2rem;
}


/**
 * アイキャッチ画像がないときのk時タイトルの背景
 */
.bg--post-thumbnail {
	background-image: url(https://placehold.jp/e0e0e0/ebebeb/1200x800.png?text=back%20ground%20image) !important;
}


/**
 * 目次
 */
.page-index {
	text-align: center;
	max-width: 20em;
	@media($md_){
		max-width: 90%;
	}
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	padding-right: .5em;
	padding-left: .5em;
	font-size: $font-small;
	background-color: $color-gray-100;
	p, ul {
		margin-top: .5em;
		margin-bottom: .5em;
	}
	p {
		font-size: $font-x-small;
		font-weight: bold;
		color: $color-gray-700;
	}
	ul {
		padding-left: 0;
		list-style-type: none;
	}
		li {
			display: inline-block;
			margin-right: 1em;
			margin-left: 1em;
			list-style-image: none;
			letter-spacing: -.1em;
			&:not(:first-of-type) {
				margin-top: .5em;
			}
		}
			a {
				text-decoration: none;
				border-bottom: 1px dotted;
				&:hover {
					text-decoration: underline;
				}
			}
}


/**
 * リード文
 */
.lead {
	font-size: $font-large;
	font-weight: bold;
}



.archive,
.blog {
	main [class^="container"] {
		margin-top: 0;
	}
	.page-header {
		text-align: center;
		.page-title {
			font-size: $font-x-large;
			color: $color-primary;
		}
		.archive-description { // div
		}
	}
	.entry-title {
		a {
			color: $color-primary;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.category {
		display: inline-block;
		color: $color-secondary;
	}
}


/**
 * WordPress Article
 */
// .single-post {
	.entry-title {
		color: $color-primary;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.entry-category { // p
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
		font-weight: bold;
		color: $color-secondary;
	}
	.entry-meta {
		font-size: $font-small;
	}
	@media($_sm){ // ★★反映されていない
		.entry-content [class^="container"]:first-child,
		.single #primary {
			margin-top: 0 !important;
		}
	}
	.entry-footer {
		text-align: right;
		font-size: $font-small;
	}
// }


/**
 * WordPress Comments
 */
.comments-area {
	background-color: rgba(255,255,255,.4);
	padding: 2rem;
	margin-top: 3rem;
}
	.comment-reply-title { // h3
		margin-top: 0;
		&:before {
			@include my-fa-icon-base;
			font-family: "Font Awesome 5 Free";
			margin-right: .5rem;
			font-weight: 900; // regular のアイコンフォントなら 400
			content: "\f4ad";
			color: $color-primary-light;
		}
	}
	.logged-in-as {
		font-size: $font-small;
		margin-top: 0;
	}
	.form-submit {
		margin-bottom: 0;
	}
	.form-submit .submit { // 送信ボタン
		@extend .btn--primary;
	}


