/**
 * Mixins
 */

/**
 * Inline List
 *   Usage
 *   - CSS: hoge { @include inline-list; }
 *   - HTML: class="inline-list"
 */



/**
 * Base
 */
ul,ol {
	padding-left: 1.5rem;
}

dt {
	font-weight: bold;
}
dd+dt {
	margin-top: .5rem;
}
dd {
	margin-left: 1rem;
}


ul.no-listmarker {
	list-style-type: none;
	padding-left: .5rem;
}
ul.inline-list {
	display: inline-block;
	padding-left: 0;
}
ul.inline-list--label {
	li {
		margin-bottom: 5px;
		padding: 5px 10px;
		color: #FFF;
		background-color: $color-primary;
		a {
			display: block;
			color: #FFF;
			&:hover {
				opacity: .7;
			}
		}
	}
}
