/**
 * Hero Image
 */
.hero-image-wrapper { // div
	.hero-image { // div
		// width, height, background-image は custom-header.php に記述
		position:relative;
		width: 100%;
		max-height: 70vh;
		@media($sm_){ max-height: 50vh; }
		@media($md_){ max-height: 60vh; }
		@media($lg_){ max-height: 70vh; }
		background-size: cover; // contain
		background-position: center center;
		// background-size: auto 100%;
		// filter: brightness(70%);// filter: blur( ぼかしの長さ ); contrast( 数字 or パーセンテージ )
		.hero-image__content { // div
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform : translate(-50%,-50%);
			text-align: center;
			// padding: 1rem 1rem 0;
			// background-color: rgba(255,255,255,.7);

			.hero-image__content__title { // p, わかりやすい並び順のため、あえて入れ子内似している
				color: $color-primary;
				line-height: 1.4;
				@media($_md){
					font-size: $font-large !important;
				}
				@media($md_){
					font-size: $font-x-large;
				}
			}

			.textwidget { // div, テキストウィジェットの場合
				.hero-image__content__title { // .ウィジェットの見出しでなく、本文欄に見出しを設定した場合
					small {
						display: block;
					}
				}
				p {
					@media($_md){
						font-size: $font-small;
					}
				}
			}
		}
	}
}

// .hero-image {}
// 	.hero-image__content { // div
// 		padding: 1rem 1rem 0;
// 		background-color: rgba(255,255,255,.7);
// 		.hero-image__content__title {} //p
// 		.textwidget {
// 			.hero-image__content__title {} // p
// 			p {
// 				margin-top: .5rem;
// 				margin-bottom: .5rem;
// 				letter-spacing: .15rem;
// 				@media($md_){
// 					letter-spacing: .2rem;
// 				}
// 			}
// 		}
// 	}
