/**
 * Grid Layout
 */
@mixin inner-bottom-margin($size) {
	display: block;
	content: '';
	margin-bottom: $size;
}

.grid,
.grid--narrow,
.grid--wide {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media($sm_) {
		display: flex;
		flex-wrap: wrap;
	}
}

// 広さ3段階
.grid {
	.grid__item {
		// margin-bottom: 1rem !important;
	}
	@media($sm_md) {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 49.5%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 32.3%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 32.3%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
	}
}
.grid--narrow {
	@media($sm_md) {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 23%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(10px);
			}
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 25%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 49.5%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 32.3%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 24%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 21%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
	}
}
.grid--wide {
	@media($sm_md) {
		.grid__item {
			flex-basis: 100%;
			margin: 0;
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 49%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 49%;
				margin: 0 .5%;
				&:after {
					@include inner-bottom-margin(1%);
				}
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
	}
}


// モバイルで2列/3列
.grid--mobile-2col,
.grid--mobile-3col {
	display: flex;
	flex-wrap: wrap;
	font-size: smaller;
}

@media($_sm) {
	.grid--mobile-2col {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
		&.grid--gap-none {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		&.grid--gap-narrow {
			.grid__item {
				flex-basis: 49%;
				margin: 0 .5%;
			}
			&:after {
				@include inner-bottom-margin(1%);
			}
		}
		&.grid--gap-wide {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
	}
}

@media($_md){
	.grid--mobile-3col {
		.grid__item {
			flex-basis: 31.3% !important;
			margin: 0 .5%;
			&.grid--gap-none {
				.grid__item {
					flex-basis: 33.3%;
					margin: 0;
				}
			}
			&.grid--gap-narrow {
				.grid__item {
					flex-basis: 32.83%;
					margin: 0 .25%;
					&:after {
						@include inner-bottom-margin(.5%);
					}
				}
			}
			&.grid--gap-wide {
				.grid__item {
					flex-basis: 31.3%;
					margin: 0 1%;
					&:after {
						@include inner-bottom-margin(2%);
					}
				}
			}
		}
	}
}

@media($_lg) {
	.grid--tablet-2col {
		.grid__item {
			flex-basis: 48%;
			margin: 0 1%;
			&:after {
				@include inner-bottom-margin(2%);
			}
		}
		&.grid--gap-none {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		&.grid--gap-narrow {
			.grid__item {
				flex-basis: 49%;
				margin: 0 .5%;
			}
			&:after {
				@include inner-bottom-margin(1%);
			}
		}
		&.grid--gap-wide {
			.grid__item {
				flex-basis: 46%;
				margin: 0 2%;
				&:after {
					@include inner-bottom-margin(4%);
				}
			}
		}
	}
}

/**
 * Masonry レンガ風
 */
 .masonry {
	column-gap: 1rem;
	@media($_sm){
		column-count: 2;
	}
	@media($sm_md){
		column-count: 2;
	}
	@media($md_lg){
		column-count: 3;
	}
	@media($lg_){
		column-count: 4;
	}
	@media($xl_){
		column-count: 5;
	}
}
	.masonry__item {
		display: inline-block;
		margin-bottom: .5rem;
		transition: 1s ease all;
		// box-sizing: border-box;
		// break-inside: avoid;
		// width: 100%;
		// background-color: #fff;
	}
		.masonry__item img {
			// max-width: 100%;
		}

	// .masonry.mobile-2col {
	// 	.masonry__item {

	// 	}
	// }
