/**
 * Grid Layout
 */
.grid,
.grid--narrow,
.grid--wide {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media($sm_) {
		display: flex;
		flex-wrap: wrap;
	}
}

// 広さ3段階
.grid {
	@media($sm_md) {
		.grid__item {
			flex-basis: 48%;
			margin: 1%;
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 1%;
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 1%;
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 49.5%;
				margin: .5%;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 32.3%;
				margin: .5%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 32.3%;
				margin: .5%;
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 46%;
				margin: 2%;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 2%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 2%;
			}
		}
	}
}
.grid--narrow {
	@media($sm_md) {
		.grid__item {
			flex-basis: 48%;
			margin: 1%;
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 31.3%;
			margin: 1%;
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 23%;
			margin: 1%;
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 33.3%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 25%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 49.5%;
				margin: .5%;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 32.3%;
				margin: .5%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 24%;
				margin: .5%;
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 46%;
				margin: 2%;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 29.3%;
				margin: 2%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 21%;
				margin: 2%;
			}
		}
	}
}
.grid--wide {
	@media($sm_md) {
		.grid__item {
			flex-basis: 100%;
			margin: 0;
		}
	}
	@media($md_lg) {
		.grid__item {
			flex-basis: 48%;
			margin: 1%;
		}
	}
	@media($lg_) {
		.grid__item {
			flex-basis: 48%;
			margin: 1%;
		}
	}
	&.grid--gap-none {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 50%;
				margin: 0;
			}
		}
	}
	&.grid--gap-narrow {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 49%;
				margin: .5%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 49%;
				margin: .5%;
			}
		}
	}
	&.grid--gap-wide {
		@media($sm_md) {
			.grid__item {
				flex-basis: 100%;
				margin: 0;
			}
		}
		@media($md_lg) {
			.grid__item {
				flex-basis: 46%;
				margin: 2%;
			}
		}
		@media($lg_) {
			.grid__item {
				flex-basis: 46%;
				margin: 2%;
			}
		}
	}
}


// モバイルで2列/3列
@media($_sm) {
	.grid--mobile-2col,
	.grid--mobile-3col {
		display: flex;
		flex-wrap: wrap;
		font-size: smaller;
	}
		.grid--mobile-2col {
			.grid__item {
				flex-basis: 48%;
				margin: 1%;
			}
			&.grid--gap-none {
				.grid__item {
					flex-basis: 50%;
					margin: 0;
				}
			}
			&.grid--gap-narrow {
				.grid__item {
					flex-basis: 49%;
					margin: .5%;
				}
			}
			&.grid--gap-wide {
				.grid__item {
					flex-basis: 46%;
					margin: 2%;
				}
			}
		}
		.grid--mobile-3col .grid__item {
			flex-basis: 32.3%;
			margin: .5%;
			&.grid--gap-none {
				.grid__item {
					flex-basis: 33.3%;
					margin: 0;
				}
			}
			&.grid--gap-narrow {
				.grid__item {
					flex-basis: 32.83%;
					margin: .25%;
				}
			}
			&.grid--gap-wide {
				.grid__item {
					flex-basis: 31.3%;
					margin: 1%;
				}
			}
		}
}
