.container,
.container--narrow,
.container--wide {
	width: 95%;
	margin: 2rem auto 1rem; // p 要素等のしたマージンを考慮
	@media($sm_){
		width: 90%;
	}
}
.container {
	max-width: 64rem; // 1024px
}
.container--narrow {
	max-width: 48rem; // 768px
}


.container,
.container--narrow {
	.container,
	.container--narrow,
	.container--wide {
		width: 100%;
	}
}

@media ($md_) {
	.width-50,
	.width-75 {
		margin-right: auto;
		margin-left: auto;
	}
	.width-50 {
		width: 50% !important;
	}
	.width-75 {
		width: 75% !important;
	}

}
