/**
 * Media - IE非対応なシンプル版
 */

// mixin
@mixin media-2col() {
	display: flex;
	align-items: center;
	&:after {
		@include clearfix;
	}
	& .media__img {
		margin-right: 2.5rem;
	}
	& .media__body {
		width: 100%;
	}

	&.media--inverse {
		flex-direction: row-reverse;
		& .media__img {
			margin-right: 0;
			margin-left: 2.5rem;
		}
	}
}



@media($sm_){
	.media {
		@include media-2col
	}
}
@media($_sm){
	.media--mobile-2col {
		@include media-2col
	}
}


// Common Settings
.media {}
	.media__img { // img, a img, div img, p img
		// display: block;
		// margin-right: auto;
		// margin-left: auto;
		img {
			// width: 100%;
		}
	}
	.media__body {}
		.media__title {}
		// .media__meta {
		// 	font-size: $font-small;
		// 	line-height: 1.5;
		// 	@media($_sm){
		// 		font-size: $font-x-small;
		// 	}
		// }

.media--valign-top {
	align-items: start !important;
}



 // 1 column layout
@media($_sm){
	.media {
		// border-bottom: 1px dotted $color-primary-light;
	}
		.media__img {
			// margin-bottom: .75rem;
		}
}


// 2 column layout
@media($sm_){
	.media {
		.media__img {
		}
		.media__body {
			*:first-child {
				margin-top: 0;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}
		  .media__title {}
		  .media__meta {}
	}
}

@media($sm_md){
	.media--75 {
		.media__img {
			width: 50%;
		}
		.media__body {
			width: 50%;
		}
	}
}

@media($md_){
	.media--25 {
		.media__img {
			width: 25%;
		}
		.media__body {
			width: 75%;
		}
	}
	.media--50 {
		.media__img {
			width: 50%;
		}
		.media__body {
			width: 50%;
		}
	}
	.media--75 {
		.media__img {
			width: 75%;
		}
		.media__body {
			width: 25%;
		}
	}
}


@media($_sm){
	.media--mobile-2col {
		font-size: $font-small;
		line-height: 1.5;
		& .media__title {
			font-size: $font-large;
		}
		& .media__img {
			max-width: 40%;
			margin-right: 1rem;
		}
	}
}



// thumbnail style for index page
.media--thumbnail { // ul
	padding-left: 0;
	li { // li
		display: flex;
		// justify-content: space-between;
		align-items: center;
		padding-bottom: .5rem;
		&+li {
			padding-top: .5rem;
			border-top: 1px dotted $color-primary-light;
		}
		&:last-child {
			padding-bottom: 0;
		}
		.media__img { // img
			width: 9rem;
			margin-right: .5rem;
			@media($sm_){
				margin-right: 1rem;
			}
		}
		.media__body { // div
			width: 100%;
		}
			.media__title { // h3
				margin-top: 0;
				margin-bottom: 0;
				&+* {
					margin-top: .25rem;
				}
			}
			.media__meta { // p
				margin-bottom: 0;
			}
	}
}
