/**
 * Media - IE非対応なシンプル版
 */

// Common Settings
.media {
	.media__img { // img, a, div, p
		max-width: 100%;
		.wp-caption { // figure
			max-width: 100%;
		}
		img {
			display: inline-block;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			vertical-align: bottom;
		}
	}
	.media__body {
		*:first-child {
			margin-top: 0;
		}
		*:last-child {
			margin-bottom: 0;
		}
	}
		.media__title {}
		// .media__meta {
		// 	font-size: $font-small;
		// 	line-height: 1.5;
		// 	@media($_sm){
		// 		font-size: $font-x-small;
		// 	}
		// }
}

.media--valign-top {
	align-items: start !important;
}



// mixin
@mixin media-2col() {
	display: flex;
	align-items: center;
	&:after {
		@include clearfix;
	}
	& .media__img {
		margin-right: 2.5rem;
		width: 100%;
		img {
			width: 100%;
		}
	}
	& .media__body {
		width: 100%;
	}
}

@media($sm_){
	// 2 column layout only
	.media {
		@include media-2col
		.media__img {}
		.media__body {
			*:first-child {
				margin-top: 0;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}
			.media__title {}
			.media__meta {}
	}
	&.media--inverse {
		flex-direction: row-reverse;
		& .media__img {
			margin-right: 0;
			margin-left: 2.5rem;
		}
	}
}

@media($_sm){
	 // 1 column layout
	.media {
		.media__img {
			text-align: center;
		}
		.media__body {
			margin-top: .75rem;
		}
			.media__title {}
			.media__meta {}
	}
	.media+.media {
		margin-top: 1.3rem;
		padding-top: 2rem;
		border-top: 1px solid $color-gray-200;
	}

	 // 2 column layout
	.media--mobile-2col {
		@include media-2col
		// align-items: start;		font-size: $font-small;
		line-height: 1.5;
		& .media__img {
			max-width: 40%;
			margin-right: 1rem;
		}
		& .media__body {
			margin-top: 0;
			text-align: left !important;
		}
			& .media__title {
				font-size: $font-large;
			}
		// &.media--inverse {
		// 	flex-direction: row;
		// }
	}

}



// 幅設定
@media($sm_){
	.media--25 {
		.media__img {
			width: 25%;
		}
		.media__body {
			width: 75%;
		}
	}
	.media--50 {
		.media__img {
			width: 50%;
		}
		.media__body {
			width: 50%;
		}
	}
}

@media($sm_md){
	.media--75 {
		.media__img {
			width: 50%;
		}
		.media__body {
			width: 50%;
		}
	}
}

@media($md_){
	.media--75 {
		.media__img {
			width: 75%;
		}
		.media__body {
			width: 25%;
		}
	}
}


.media--full-width {
	.media__img {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.media__body {
		padding-right: 2rem;
		padding-left: 2rem;
		@media($_sm){
			margin-top: 1.5rem;
		}
	}
	@media($_sm){
		&+.media--full-width {
			border: none;
		}
	}
}



// thumbnail style for index page
.media--thumbnail { // ul
	padding-left: 0;
	li { // li
		display: flex;
		// justify-content: space-between;
		align-items: center;
		padding-bottom: .5rem;
		&+li {
			padding-top: .5rem;
			border-top: 1px solid $color-gray-200;
		}
		&:last-child {
			padding-bottom: 0;
		}
		.media__img { // img
			// width: 9rem;
			margin-right: .5rem;
			@media($sm_){
				margin-right: 1rem;
			}
			img {
				max-width: 100%;
				vertical-align: bottom;
			}
		}
		.media__body { // div
			width: 100%;
		}
			.media__title { // h3
				margin-top: 0;
				margin-bottom: 0;
				font-size: $font-normal;
				&+* {
					margin-top: .25rem;
				}
			}
			.media__meta { // p
				font-size: $font-x-small;
				margin-bottom: 0;
			}
	}
}
