/**
 * Sidebar / Widget in Sidebar
 */
#secondary {
	font-size: smaller;
	@media ($md_) {
		padding: 2rem 0;
	}
	ul {
		margin-bottom: 0;
		padding-left: 0;
		list-style-type: none;
	}
		li {
			position: relative;
			padding-left: 1em;
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

	.sidebar {
		&.sidebar-1 {}
		&.sidebar-2 {}
	}

		.widget {
			// -> _wp-essential.scss

			@media ($_md) {
				padding: .5rem;
			}

			@media ($md_) {
				padding: 1rem;
			}

			.widget-title {}
		}

		.widget.widget_media_image {
			padding: 0;
			img {}
		}
}
